include LICENSE
include README.rst
include MANIFEST.in
include TODO
include setup.py
include requirements.txt
include requirements-tox.txt
recursive-include py_utilities *.py
recursive-include tests *.py
recursive-include docs *
prune *.pyc
